
build
build/*
*.o
*.out
*.pyc
tags
.directory
doc
*.swp
.kateproject
.kateproject.d
.kdev4
.kdev4*
*.kdev4
*.layout
*.dev
*.win
*.user

Makefile.in
aclocal.m4
ar-lib
autom4te.cache
compile
config.guess
config.h.in
config.sub
configure
install-sh
ltmain.sh
*.m4
missing
